html{
    background-color: #3AAFA9;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.section{
    margin-bottom: 100px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    color: #3AAFA9;
    background-color: #def2f1;
    position: fixed;
    width: 100%;
}

.page-link {
    padding: 30px;
}
.site-logo {
    padding-left: 30px;
    font-size: 30px;
}

.container-horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#lists{
    align-items: flex-start;
}


.container-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grad-pic{
    height: auto;
    width: 600px;
}

.img-text{
    text-align: center;
    color: #feffff;
}
.img-container{
    height: min-content;
}

#large-caption{
    font-size: 50px;
    
}
#small-caption{
    font-size: 18px;
    color: #17252A;
    padding-left: 25px;
}

#first-container{
    margin-left: 40px;
    margin-right: 40px;
}

#first-section{
    padding-top: 100px;
}

#second-section {
    background-color: #def2f1;
    padding-top: 100px;
    padding-bottom: 200px;
}

.section-title{
    font-size: 30px;
    padding: 20px;
    color: #17252A;
}

.courses{
    background-color: #feffff;
    border-radius: 25px;
    border: 2px solid #17252A;
    margin: 10px;
}

.courses:hover{
    transition: ease all .5s;
    background-color: #3AAFA9;
    color: #feffff;
    border: 2px solid #3AAFA9;
}

.bullet-section-title{
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
}
.list{
    font-size: 20px;
}

#two-slots{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.inner-list{
    padding: 20px;
}

.icon{
    height: auto;
    width: 200px;
}

.project-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.project{
    padding: 60px;
    text-align: center;
    background-color: #def2f1;
    border-radius: 25px;
    border: 2px solid #def2f1;
    height: 300px;
    width: 200px;
    margin: 20px;
}
.project-text{
    margin-top: 20px;
}

.project-title{
    font-size: 18px;
}
#section-title-projects {
    color: #def2f1;
}


.footer-img {
    width: 125px;
    height: auto;
    padding: 30px;
}
.footer-img:hover{
    transform: scale(1.2);
    transition: ease all .5s;
}

ul {
    list-style: square;
}

li {
    padding: 10px;
}

.footer{
    text-align: center;
    background-color: #def2f1;
    margin-top: 400px;
    padding: 50px;
    font-size: 26px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

i {
    height: 100px !important;
    width: auto;
}

/* This code was taken from w3schools.com. It was the linked to the modal explanantion on the lab 2 page*/
.modal{ 
    flex-direction: row;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    border: 3px solid black;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    animation: modal-animation; 
    animation-duration:2s;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


.project-button{
    margin-top: 10px;
    border: 2px solid #3AAFA9;
    border-radius: 25px;
}
.project-button:hover{
    background-color: #3AAFA9;
    color: #def2f1;
    transition: ease all .3s;
}

.description-text{
    margin-top: 10px;
    font-size: 20px;
}
.description-title{
    font-size: 30px;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 2px solid #3AAFA9;
    color: #3AAFA9;
}

a{
    text-decoration: none;
    color: #3AAFA9;
}
a:hover{
    color: #17252A;
}